# eclipse useless files
.buildpath
.project
.settings/*

# configuration files
.htaccess
app/.htaccess
app/webroot/.htaccess
app/config/database.php
app/config/core.php
app/config/bootstrap.php

# cache and temporary files
app/tmp/cache/*
app/tmp/logs/*

app/webroot/docfiles/*.JPG
app/webroot/docfiles/*.pdf

app/plugins/ucursos_downloader
